// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.letters {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
}

.letter {
  background-color: #469AE0;
  margin: 10px;
  padding: 15px;
  border: 1px black solid;
  text-weight: bold;
  color: white;
}
